$primary: #ff8200;

@import 'bootstrap';
@import 'toastify-js/src/toastify.css';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet-easybutton/src/easy-button.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app-container {
    height: 100%;
    width: 100%;
}

.sidebar-col, .map-col {
    height: 100%;
    overflow: hidden;
}

.toastify {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: $primary;
    border-radius: 30px;
    padding: 8px 25px;
}

.toastify .toast-close {
    position: relative;
    left: 10px;
}

body[data-bs-theme="dark"] .leaflet-popup .leaflet-popup-content-wrapper, body[data-bs-theme="dark"] .leaflet-popup .leaflet-popup-tip {
    background: #333;
    color: #fff;
}

.custom-popup {
    width: 280px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.user-location-marker {
    background: transparent;
}

.custom-map-marker > div {
    transition: .1s ease transform;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.custom-map-marker > div i {
    font-size: 12px;
}

.custom-map-marker:hover > div {
    transform: scale(1.25);
}

.pulse {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(38, 143, 255, 0.7);
    position: relative;
    animation: pulse 1.5s infinite;
}

.pulse::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(38, 143, 255, 0.3);
    border-radius: 50%;
    z-index: -1;
    animation: pulse-outer 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(38, 143, 255, 0);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes pulse-outer {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.pixel-font {
    font-family: 'Jersey 10', sans-serif;
}

.sidebar {
    height: 100%;
    width: 100%;
}

.sidebar-col {
    max-width: 320px;
}

.color-subghz {
    color: #1aa179;
}

.color-nfc {
    color: #3d8bfd;
}

.color-rfid {
    color: #ffc107;
}

.bg-subghz {
    background-color: #1aa179;
}

.bg-nfc {
    background-color: #3d8bfd;
}

.bg-rfid {
    background-color: #ffc107;
}

.size-24 {
    width: 24px;
    height: 24px;
}

.size-36 {
    width: 36px;
    height: 36px;
}

.size-46 {
    width: 46px;
    height: 46px;
}
